<h2>Hello Vendor bot!</h2>

Please log in!

<form action="" method="get" accept-charset="utf-8">
  <label for="uname">Username</label>
  <input type="text" name="username" value="" id="uname">
  <label for="pass">Password</label>
  <input type="password" name="password" value="" id="pass">


  <p><input type="submit" value="Submit"></p>
</form>
