<h2>Hello Vendor Bat!</h2>

Please log in! Or sign up!

<form action="" method="get" accept-charset="utf-8">
  <label for="uname">Vendor Name</label>
  <input type="text" name="username" value="" id="uname">

  <p><input type="submit" value="Login"></p>
</form>

<p><a href="/signup">Sign Up<a></p>
