<% provide(:title, 'Vendors')%> 

<body id="showVendors">
<h3>All Vendors</h3>

<% @vendors.collect do |vendor| %>
	<li>
		<a href= "/vendors/<%= vendor.id %>"><%= vendor.name %></a>
	</li>

<% end %>

</body>
