<body id="showVendors">
This is the vendors page.

<% @vendors.collect do |vendor| %>
	<p>vendor name: <%= vendor.name %> </p>

	<a href ="/vendors/edit/<%=vendor.id%>"> Edit </a>

<% end %>

</body>
