<h3>Edit your information</h2>

<form action= "/vendors/<%=@vendor.id%>" method="POST">
  <input type ="hidden" name="_method" value="PUT"/>
  Your Name: <input type="text" name="vendor[name]" value="<%=@vendor.name%>"/>
  <!-- Have them select from available Markets?-->
  <!-- Your Market: <input type="text" name="vendor[market_id]" value="<%=@vendor.market_id%>"/> -->
  <input type="submit" value="Update Profile"/>
</form>
