<h2>Edit vendor: <%= @vendor.name %></h2>

<h3> this is the vendors edit page</h3>
<form action="/vendors/<%= @vendor.id %>" method="POST"> <!-- if there is no action, it submits to same page-->
  <input type="hidden" name="_method" value="PUT">
  Title<input type="text" name="vendor[name]" value="<%= @vendor.name %>"/>
  
  <input type="submit" />
</form>