<h2>Hello Vendor Bat!</h2>

<% if defined? @vendor %>
  You are currently signed in as <%= @vendor.name%>
  <form action = "/logout" method = "POST">
    <p> <%= submit_tag("Logout") %> </p>
  </form>
<% else %>

  Please log in!

  <form action="/login" method="POST" >
    Vendor Name:
    <input type="text" name="vendor[name]" />
    Vendor ID:
    <input type="text" name="vendor[id]" />

    <p><input type="submit" value="Login"></p>
  </form>


  <p>Or <a href="/signup">sign up<a>!</p>

<% end %>
