<h2>Hello Vendor Bat!</h2>

<% if defined? @vendor %>
  You are signed in as <%= @vendor.name%>
  <% if defined? @market %>
, with market <%= @market.name %>
  <% else %>
. You have not currently selected a market. Select an existing market <a href="/markets">here</a>,
  or add a new market <a href="/make_market">here</a>.
  <% end %>

<% else %>

  Please log in!

  <form action="/login" method="POST" >
    Vendor Name:
    <input type="text" name="vendor[name]" />
    Vendor ID:
    <input type="text" name="vendor[id]" />

    <p><input type="submit" value="Login"></p>
  </form>


  <p>Or <a href="/signup">sign up<a>!</p>

<% end %>
