<% provide(:title, 'Home')%>

<% if @vendor %>
  <h2>Welcome <%= @vendor.name %>!</h2>
  <h3> Your Id is # <%= @vendor.id %> </h3>

<% else %>
  <h2> Welcome Guest! </h2>
<% end %>

<section>
  <p>The Farthest Mar is a gathering spot for vendors and customers alike!</p>
  <p>It's a collection of user contributed data on Vendors, Markets, Products and
  Sales.</p>
  <p>Get started now by adding some products and selecting or adding your market. Check
  out what other vendors at your market are offering!</p>
</section>

<% if !@vendor %>

  <section>
    <br>
    Please log in!

    <form action="/login" method="POST" >
      Vendor Name:
      <input type="text" name="vendor[name]" />
      Vendor ID:
      <input type="text" name="vendor[id]" />
      <input type="submit" value="Login">
    </form>

    <br>
    <p>Don't have an account yet? <a href="/signup">Sign up</a>!</p>
  </section>

<% end %>
