<h2>Hello Vendor Bat!</h2>

Please log in!

<form action="/vendors" method="POST" accept-charset="utf-8">
  Vendor Name
  <input type="text" name="username" />
  Vendor ID
  <input type="text" name="vendor-id" />

  <p><input type="submit" value="Login"></p>
</form>


<p>Or <a href="/signup">sign up<a>!</p>
