
<form action= "/markets" method="POST">
  Market Name: <input type="text" name="market[name]" value="<%=@market.name%>"/>
  Market Location: <input type="text" name="market[location]" value="<%=@market.location%>"/>
  <input type="submit" value="Create Market"/>
</form>
