/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#main-title {
  font-size: 3.5em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #732116;
  // color: white;
  padding-top: 10vh;
  padding-left: 5vw;
  margin: 0;
  letter-spacing: 0.08em;
}

#main-title a:hover{
  color: #732116;
}

#main-title a {
  color: #732116;
}

#main-title a:visited {
  color: #732116;
}

p {
  margin-bottom: .5em;
}

button {
  color: white;
  background-color: orange;
}

header {
  background-image: url(image-path('lorieklodafruitswide.jpg'));
  background-size: cover;
  margin: 0;
  height: 30vh;
  width: 100vw;
}

#navbar {
  height: 5vh;
  width: 100vw;
  background-color: #F8AD2D;
  margin: 0;
  padding-top: .6em;

}

#navlinks li {
  list-style: none;
  display: inline;
  padding-left: 3vw;
  margin: 0;

}

.layer {
  background-color: rgba(200,200,200,.4);
  height: 30vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #F1DFA4
}

html {
  font-family: 'Arvo', serif;
  color: #542000;
  font-size: 1.15em;
}

table {
  margin: 1em;
}

a {
  text-decoration: none;
  color: #994A01;
}

a:visited {
  color: #994A01;
}

a:hover {
  color: #A3328A;
}

.content {
  padding: 5vw;
  padding-top: 2vw;
}

.coltitles {
  font-weight: bold;
}

li {
  margin: 1.5em;
}

td {
  padding-bottom: 1em;
  padding-right: 1.5em;
}

h2 {
  font-size: 2em;
  margin: .3em;
}

h3 {
  font-size: 1.5em;
  margin: .3em;
}

footer {
  margin: 2em;
  font-size: .8em;
}
