/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#showVendors{
  background-color: pink;
  margin: 0;
}

#main-title {
  font-size: 3em;
  font-family: sans-serif;
  padding-top: 10vh;
  padding-left: 5vw;
  margin: 0;
}

header {
  background-image: url(image-path('lorieklodafruitswide.jpg'));
  background-size: cover;
  margin: 0;
  // border-bottom: .3em solid black;
  height: 30vh;
  width: 100vw;
}

#navbar {
  height: 5vh;
  width: 100vw;
  background-color: green;
  margin: 0;
  padding-top: .6em;
  padding-left: 1em;
}

#navlinks li {
  list-style: none;
  display: inline;
  padding-right: 3vw;
  margin: 0;
}

.layer {
  background-color: rgba(200,200,200,.4);
  height: 30vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}
