<% provide(:title, 'My Products')%> 

<h3> <%= @vendor.name %>'s Products</h3>

<ul>
  <% @products.collect do |product| %>
      <li>
        <a href ="/products/<%=product.id%>"> <%= product.name %> </a></button>
      </li>
  <% end %>
</ul>


<button> <a href="/products/new">Add a Product</a> </button>
