This is <%= @vendor.name %>'s products page.

<ul>
<% @products.collect do |product| %>
    <li>
      <a href ="/products/<%=product.id%>"> <%= product.name %> </a></button>
    </li>

<% end %>
</ul>
