<!DOCTYPE html>
<html>
<head>
  <title>RailsFarmar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer>
  Links: Put links here to: Log Out, view my 'profile' edit my profile, add a market, view my market, view all markets, view my products, view my sales.
</footer>
</body>
</html>
